model/grampsxml@v1.5.0/grampsxml.dtd.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2025 (x64) (https://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:n1="http://gramps-project.org/xml/1.5.0/" elementFormDefault="qualified" targetNamespace="http://gramps-project.org/xml/1.5.0/">
	<xs:complexType name="database">
		<xs:sequence>
			<xs:element ref="n1:header"/>
			<xs:element ref="n1:name-formats" minOccurs="0"/>
			<xs:element ref="n1:tags" minOccurs="0"/>
			<xs:element ref="n1:events" minOccurs="0"/>
			<xs:element ref="n1:people" minOccurs="0"/>
			<xs:element ref="n1:families" minOccurs="0"/>
			<xs:element ref="n1:citations" minOccurs="0"/>
			<xs:element ref="n1:sources" minOccurs="0"/>
			<xs:element ref="n1:places" minOccurs="0"/>
			<xs:element ref="n1:objects" minOccurs="0"/>
			<xs:element ref="n1:repositories" minOccurs="0"/>
			<xs:element ref="n1:notes" minOccurs="0"/>
			<xs:element ref="n1:bookmarks" minOccurs="0"/>
			<xs:element ref="n1:namemaps" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="database" type="n1:database"/>
	<xs:complexType name="header">
		<xs:sequence>
			<xs:element ref="n1:created"/>
			<xs:element ref="n1:researcher" minOccurs="0"/>
			<xs:element ref="n1:mediapath" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="header" type="n1:header"/>
	<xs:complexType name="created">
		<xs:attribute name="date" use="required"/>
		<xs:attribute name="version" use="required"/>
	</xs:complexType>
	<xs:element name="created" type="n1:created"/>
	<xs:complexType name="researcher">
		<xs:sequence>
			<xs:element ref="n1:resname" minOccurs="0"/>
			<xs:element ref="n1:resaddr" minOccurs="0"/>
			<xs:element ref="n1:reslocality" minOccurs="0"/>
			<xs:element ref="n1:rescity" minOccurs="0"/>
			<xs:element ref="n1:resstate" minOccurs="0"/>
			<xs:element ref="n1:rescountry" minOccurs="0"/>
			<xs:element ref="n1:respostal" minOccurs="0"/>
			<xs:element ref="n1:resphone" minOccurs="0"/>
			<xs:element ref="n1:resemail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="researcher" type="n1:researcher"/>
	<xs:complexType name="resname" mixed="true"/>
	<xs:element name="resname" type="n1:resname"/>
	<xs:complexType name="resaddr" mixed="true"/>
	<xs:element name="resaddr" type="n1:resaddr"/>
	<xs:complexType name="reslocality" mixed="true"/>
	<xs:element name="reslocality" type="n1:reslocality"/>
	<xs:complexType name="rescity" mixed="true"/>
	<xs:element name="rescity" type="n1:rescity"/>
	<xs:complexType name="resstate" mixed="true"/>
	<xs:element name="resstate" type="n1:resstate"/>
	<xs:complexType name="rescountry" mixed="true"/>
	<xs:element name="rescountry" type="n1:rescountry"/>
	<xs:complexType name="respostal" mixed="true"/>
	<xs:element name="respostal" type="n1:respostal"/>
	<xs:complexType name="resphone" mixed="true"/>
	<xs:element name="resphone" type="n1:resphone"/>
	<xs:complexType name="resemail" mixed="true"/>
	<xs:element name="resemail" type="n1:resemail"/>
	<xs:complexType name="mediapath" mixed="true"/>
	<xs:element name="mediapath" type="n1:mediapath"/>
	<xs:complexType name="people">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="n1:person"/>
		</xs:sequence>
		<xs:attribute name="default"/>
		<xs:attribute name="home" type="xs:IDREF"/>
	</xs:complexType>
	<xs:element name="people" type="n1:people"/>
	<xs:complexType name="person">
		<xs:sequence>
			<xs:element ref="n1:gender"/>
			<xs:element ref="n1:name" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:eventref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:lds_ord" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:objref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:address" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:attribute" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:url" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:childof" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:parentin" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:personref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:citationref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:tagref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id"/>
		<xs:attribute name="handle" type="xs:ID" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="change" use="required"/>
	</xs:complexType>
	<xs:element name="person" type="n1:person"/>
	<xs:complexType name="gender" mixed="true"/>
	<xs:element name="gender" type="n1:gender"/>
	<xs:complexType name="name">
		<xs:sequence>
			<xs:element ref="n1:first" minOccurs="0"/>
			<xs:element ref="n1:call" minOccurs="0"/>
			<xs:element ref="n1:surname" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:suffix" minOccurs="0"/>
			<xs:element ref="n1:title" minOccurs="0"/>
			<xs:element ref="n1:nick" minOccurs="0"/>
			<xs:element ref="n1:familynick" minOccurs="0"/>
			<xs:element ref="n1:group" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="n1:daterange"/>
				<xs:element ref="n1:datespan"/>
				<xs:element ref="n1:dateval"/>
				<xs:element ref="n1:datestr"/>
			</xs:choice>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:citationref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="alt">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="type"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="sort"/>
		<xs:attribute name="display"/>
	</xs:complexType>
	<xs:element name="name" type="n1:name"/>
	<xs:complexType name="first" mixed="true"/>
	<xs:element name="first" type="n1:first"/>
	<xs:complexType name="call" mixed="true"/>
	<xs:element name="call" type="n1:call"/>
	<xs:complexType name="suffix" mixed="true"/>
	<xs:element name="suffix" type="n1:suffix"/>
	<xs:complexType name="title" mixed="true"/>
	<xs:element name="title" type="n1:title"/>
	<xs:complexType name="nick" mixed="true"/>
	<xs:element name="nick" type="n1:nick"/>
	<xs:complexType name="familynick" mixed="true"/>
	<xs:element name="familynick" type="n1:familynick"/>
	<xs:complexType name="group" mixed="true"/>
	<xs:element name="group" type="n1:group"/>
	<xs:complexType name="surname" mixed="true">
		<xs:attribute name="prefix"/>
		<xs:attribute name="prim">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="derivation"/>
		<xs:attribute name="connector"/>
	</xs:complexType>
	<xs:element name="surname" type="n1:surname"/>
	<xs:complexType name="childof">
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="childof" type="n1:childof"/>
	<xs:complexType name="parentin">
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="parentin" type="n1:parentin"/>
	<xs:complexType name="personref">
		<xs:sequence>
			<xs:element ref="n1:citationref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="rel" use="required"/>
	</xs:complexType>
	<xs:element name="personref" type="n1:personref"/>
	<xs:complexType name="address">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element ref="n1:daterange"/>
				<xs:element ref="n1:datespan"/>
				<xs:element ref="n1:dateval"/>
				<xs:element ref="n1:datestr"/>
			</xs:choice>
			<xs:element ref="n1:street" minOccurs="0"/>
			<xs:element ref="n1:locality" minOccurs="0"/>
			<xs:element ref="n1:city" minOccurs="0"/>
			<xs:element ref="n1:county" minOccurs="0"/>
			<xs:element ref="n1:state" minOccurs="0"/>
			<xs:element ref="n1:country" minOccurs="0"/>
			<xs:element ref="n1:postal" minOccurs="0"/>
			<xs:element ref="n1:phone" minOccurs="0"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:citationref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="address" type="n1:address"/>
	<xs:complexType name="street" mixed="true"/>
	<xs:element name="street" type="n1:street"/>
	<xs:complexType name="locality" mixed="true"/>
	<xs:element name="locality" type="n1:locality"/>
	<xs:complexType name="city" mixed="true"/>
	<xs:element name="city" type="n1:city"/>
	<xs:complexType name="county" mixed="true"/>
	<xs:element name="county" type="n1:county"/>
	<xs:complexType name="state" mixed="true"/>
	<xs:element name="state" type="n1:state"/>
	<xs:complexType name="country" mixed="true"/>
	<xs:element name="country" type="n1:country"/>
	<xs:complexType name="postal" mixed="true"/>
	<xs:element name="postal" type="n1:postal"/>
	<xs:complexType name="phone" mixed="true"/>
	<xs:element name="phone" type="n1:phone"/>
	<xs:complexType name="families">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="n1:family"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="families" type="n1:families"/>
	<xs:complexType name="family">
		<xs:sequence>
			<xs:element ref="n1:rel" minOccurs="0"/>
			<xs:element ref="n1:father" minOccurs="0"/>
			<xs:element ref="n1:mother" minOccurs="0"/>
			<xs:element ref="n1:eventref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:lds_ord" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:objref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:childref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:attribute" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:citationref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:tagref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id"/>
		<xs:attribute name="handle" type="xs:ID" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="change" use="required"/>
	</xs:complexType>
	<xs:element name="family" type="n1:family"/>
	<xs:complexType name="father">
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="father" type="n1:father"/>
	<xs:complexType name="mother">
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="mother" type="n1:mother"/>
	<xs:complexType name="childref">
		<xs:sequence>
			<xs:element ref="n1:citationref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="mrel">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="None"/>
					<xs:enumeration value="Birth"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="Foster"/>
					<xs:enumeration value="Adopted"/>
					<xs:enumeration value="Unknown"/>
					<xs:enumeration value="Sponsored"/>
					<xs:enumeration value="Stepchild"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="frel">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="None"/>
					<xs:enumeration value="Birth"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="Foster"/>
					<xs:enumeration value="Adopted"/>
					<xs:enumeration value="Unknown"/>
					<xs:enumeration value="Sponsored"/>
					<xs:enumeration value="Stepchild"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="childref" type="n1:childref"/>
	<xs:complexType name="type" mixed="true"/>
	<xs:element name="type" type="n1:type"/>
	<xs:complexType name="rel">
		<xs:attribute name="type" use="required"/>
	</xs:complexType>
	<xs:element name="rel" type="n1:rel"/>
	<xs:complexType name="events">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="n1:event"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="events" type="n1:events"/>
	<xs:complexType name="event">
		<xs:sequence>
			<xs:element ref="n1:type" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="n1:daterange"/>
				<xs:element ref="n1:datespan"/>
				<xs:element ref="n1:dateval"/>
				<xs:element ref="n1:datestr"/>
			</xs:choice>
			<xs:element ref="n1:place" minOccurs="0"/>
			<xs:element ref="n1:cause" minOccurs="0"/>
			<xs:element ref="n1:description" minOccurs="0"/>
			<xs:element ref="n1:attribute" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:citationref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:objref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id"/>
		<xs:attribute name="handle" type="xs:ID" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="change" use="required"/>
	</xs:complexType>
	<xs:element name="event" type="n1:event"/>
	<xs:complexType name="sources">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="n1:source"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="sources" type="n1:sources"/>
	<xs:complexType name="source">
		<xs:sequence>
			<xs:element ref="n1:stitle" minOccurs="0"/>
			<xs:element ref="n1:sauthor" minOccurs="0"/>
			<xs:element ref="n1:spubinfo" minOccurs="0"/>
			<xs:element ref="n1:sabbrev" minOccurs="0"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:objref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:data_item" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:reporef" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id"/>
		<xs:attribute name="handle" type="xs:ID" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="change" use="required"/>
	</xs:complexType>
	<xs:element name="source" type="n1:source"/>
	<xs:complexType name="stitle" mixed="true"/>
	<xs:element name="stitle" type="n1:stitle"/>
	<xs:complexType name="sauthor" mixed="true"/>
	<xs:element name="sauthor" type="n1:sauthor"/>
	<xs:complexType name="spubinfo" mixed="true"/>
	<xs:element name="spubinfo" type="n1:spubinfo"/>
	<xs:complexType name="sabbrev" mixed="true"/>
	<xs:element name="sabbrev" type="n1:sabbrev"/>
	<xs:complexType name="places">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="n1:placeobj"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="places" type="n1:places"/>
	<xs:complexType name="placeobj">
		<xs:sequence>
			<xs:element ref="n1:ptitle" minOccurs="0"/>
			<xs:element ref="n1:coord" minOccurs="0"/>
			<xs:element ref="n1:location" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:objref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:url" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:citationref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id"/>
		<xs:attribute name="handle" type="xs:ID" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="change" use="required"/>
	</xs:complexType>
	<xs:element name="placeobj" type="n1:placeobj"/>
	<xs:complexType name="ptitle" mixed="true"/>
	<xs:element name="ptitle" type="n1:ptitle"/>
	<xs:complexType name="coord">
		<xs:attribute name="long" use="required"/>
		<xs:attribute name="lat" use="required"/>
	</xs:complexType>
	<xs:element name="coord" type="n1:coord"/>
	<xs:complexType name="location">
		<xs:attribute name="street"/>
		<xs:attribute name="locality"/>
		<xs:attribute name="city"/>
		<xs:attribute name="parish"/>
		<xs:attribute name="county"/>
		<xs:attribute name="state"/>
		<xs:attribute name="country"/>
		<xs:attribute name="postal"/>
		<xs:attribute name="phone"/>
	</xs:complexType>
	<xs:element name="location" type="n1:location"/>
	<xs:complexType name="objects">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="n1:object"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="objects" type="n1:objects"/>
	<xs:complexType name="object">
		<xs:sequence>
			<xs:element ref="n1:file"/>
			<xs:element ref="n1:attribute" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice minOccurs="0">
				<xs:element ref="n1:daterange"/>
				<xs:element ref="n1:datespan"/>
				<xs:element ref="n1:dateval"/>
				<xs:element ref="n1:datestr"/>
			</xs:choice>
			<xs:element ref="n1:citationref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:tagref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id"/>
		<xs:attribute name="handle" type="xs:ID" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="change" use="required"/>
	</xs:complexType>
	<xs:element name="object" type="n1:object"/>
	<xs:complexType name="file">
		<xs:attribute name="src" use="required"/>
		<xs:attribute name="mime" use="required"/>
		<xs:attribute name="description" use="required"/>
	</xs:complexType>
	<xs:element name="file" type="n1:file"/>
	<xs:complexType name="repositories">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="n1:repository"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="repositories" type="n1:repositories"/>
	<xs:complexType name="repository">
		<xs:sequence>
			<xs:element ref="n1:rname"/>
			<xs:element ref="n1:type"/>
			<xs:element ref="n1:address" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:url" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id"/>
		<xs:attribute name="handle" type="xs:ID" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="change" use="required"/>
	</xs:complexType>
	<xs:element name="repository" type="n1:repository"/>
	<xs:complexType name="rname" mixed="true"/>
	<xs:element name="rname" type="n1:rname"/>
	<xs:complexType name="notes">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="n1:note"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="notes" type="n1:notes"/>
	<xs:complexType name="note">
		<xs:sequence>
			<xs:element ref="n1:text"/>
			<xs:element ref="n1:style" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:tagref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id"/>
		<xs:attribute name="handle" type="xs:ID" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="change" use="required"/>
		<xs:attribute name="format">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="type" use="required"/>
	</xs:complexType>
	<xs:element name="note" type="n1:note"/>
	<xs:complexType name="text" mixed="true"/>
	<xs:element name="text" type="n1:text"/>
	<xs:complexType name="style">
		<xs:sequence>
			<xs:element ref="n1:range" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="bold"/>
					<xs:enumeration value="link"/>
					<xs:enumeration value="italic"/>
					<xs:enumeration value="fontface"/>
					<xs:enumeration value="fontsize"/>
					<xs:enumeration value="fontcolor"/>
					<xs:enumeration value="highlight"/>
					<xs:enumeration value="underline"/>
					<xs:enumeration value="superscript"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="value"/>
	</xs:complexType>
	<xs:element name="style" type="n1:style"/>
	<xs:complexType name="range">
		<xs:attribute name="start" use="required"/>
		<xs:attribute name="end" use="required"/>
	</xs:complexType>
	<xs:element name="range" type="n1:range"/>
	<xs:complexType name="tags">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="n1:tag"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="tags" type="n1:tags"/>
	<xs:complexType name="tag">
		<xs:attribute name="handle" type="xs:ID" use="required"/>
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="color" use="required"/>
		<xs:attribute name="priority" use="required"/>
		<xs:attribute name="change" use="required"/>
	</xs:complexType>
	<xs:element name="tag" type="n1:tag"/>
	<xs:complexType name="citations">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="n1:citation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="citations" type="n1:citations"/>
	<xs:complexType name="citation">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element ref="n1:daterange"/>
				<xs:element ref="n1:datespan"/>
				<xs:element ref="n1:dateval"/>
				<xs:element ref="n1:datestr"/>
			</xs:choice>
			<xs:element ref="n1:page" minOccurs="0"/>
			<xs:element ref="n1:confidence" minOccurs="0"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:objref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:data_item" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:sourceref"/>
		</xs:sequence>
		<xs:attribute name="id"/>
		<xs:attribute name="handle" type="xs:ID" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="change" use="required"/>
	</xs:complexType>
	<xs:element name="citation" type="n1:citation"/>
	<xs:complexType name="bookmarks">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="n1:bookmark"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="bookmarks" type="n1:bookmarks"/>
	<xs:complexType name="bookmark">
		<xs:attribute name="target" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="note"/>
					<xs:enumeration value="event"/>
					<xs:enumeration value="media"/>
					<xs:enumeration value="place"/>
					<xs:enumeration value="family"/>
					<xs:enumeration value="person"/>
					<xs:enumeration value="source"/>
					<xs:enumeration value="citation"/>
					<xs:enumeration value="repository"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="bookmark" type="n1:bookmark"/>
	<xs:complexType name="namemaps">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="n1:map"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="namemaps" type="n1:namemaps"/>
	<xs:complexType name="map">
		<xs:attribute name="type" use="required"/>
		<xs:attribute name="key" use="required"/>
		<xs:attribute name="value" use="required"/>
	</xs:complexType>
	<xs:element name="map" type="n1:map"/>
	<xs:complexType name="name-formats">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="n1:format"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="name-formats" type="n1:name-formats"/>
	<xs:complexType name="format">
		<xs:attribute name="number" use="required"/>
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="fmt_str" use="required"/>
		<xs:attribute name="active">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="format" type="n1:format"/>
	<xs:complexType name="daterange">
		<xs:attribute name="start" use="required"/>
		<xs:attribute name="stop" use="required"/>
		<xs:attribute name="quality">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="estimated"/>
					<xs:enumeration value="calculated"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="cformat"/>
		<xs:attribute name="dualdated">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="newyear"/>
	</xs:complexType>
	<xs:element name="daterange" type="n1:daterange"/>
	<xs:complexType name="datespan">
		<xs:attribute name="start" use="required"/>
		<xs:attribute name="stop" use="required"/>
		<xs:attribute name="quality">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="estimated"/>
					<xs:enumeration value="calculated"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="cformat"/>
		<xs:attribute name="dualdated">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="newyear"/>
	</xs:complexType>
	<xs:element name="datespan" type="n1:datespan"/>
	<xs:complexType name="dateval">
		<xs:attribute name="val" use="required"/>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="about"/>
					<xs:enumeration value="after"/>
					<xs:enumeration value="before"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="quality">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="estimated"/>
					<xs:enumeration value="calculated"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="cformat"/>
		<xs:attribute name="dualdated">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="newyear"/>
	</xs:complexType>
	<xs:element name="dateval" type="n1:dateval"/>
	<xs:complexType name="datestr">
		<xs:attribute name="val" use="required"/>
	</xs:complexType>
	<xs:element name="datestr" type="n1:datestr"/>
	<xs:complexType name="citationref">
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="citationref" type="n1:citationref"/>
	<xs:complexType name="sourceref">
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="sourceref" type="n1:sourceref"/>
	<xs:complexType name="eventref">
		<xs:sequence>
			<xs:element ref="n1:attribute" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="role"/>
	</xs:complexType>
	<xs:element name="eventref" type="n1:eventref"/>
	<xs:complexType name="reporef">
		<xs:sequence>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="callno"/>
		<xs:attribute name="medium"/>
	</xs:complexType>
	<xs:element name="reporef" type="n1:reporef"/>
	<xs:complexType name="noteref">
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="noteref" type="n1:noteref"/>
	<xs:complexType name="tagref">
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="tagref" type="n1:tagref"/>
	<xs:complexType name="page" mixed="true"/>
	<xs:element name="page" type="n1:page"/>
	<xs:complexType name="confidence" mixed="true"/>
	<xs:element name="confidence" type="n1:confidence"/>
	<xs:complexType name="attribute">
		<xs:sequence>
			<xs:element ref="n1:citationref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="type" use="required"/>
		<xs:attribute name="value" use="required"/>
	</xs:complexType>
	<xs:element name="attribute" type="n1:attribute"/>
	<xs:complexType name="place">
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="place" type="n1:place"/>
	<xs:complexType name="cause" mixed="true"/>
	<xs:element name="cause" type="n1:cause"/>
	<xs:complexType name="description" mixed="true"/>
	<xs:element name="description" type="n1:description"/>
	<xs:complexType name="url">
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="type"/>
		<xs:attribute name="href" use="required"/>
		<xs:attribute name="description"/>
	</xs:complexType>
	<xs:element name="url" type="n1:url"/>
	<xs:complexType name="objref">
		<xs:sequence>
			<xs:element ref="n1:region" minOccurs="0"/>
			<xs:element ref="n1:attribute" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:citationref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="objref" type="n1:objref"/>
	<xs:complexType name="region">
		<xs:attribute name="corner1_x" use="required"/>
		<xs:attribute name="corner1_y" use="required"/>
		<xs:attribute name="corner2_x" use="required"/>
		<xs:attribute name="corner2_y" use="required"/>
	</xs:complexType>
	<xs:element name="region" type="n1:region"/>
	<xs:complexType name="data_item">
		<xs:attribute name="key" use="required"/>
		<xs:attribute name="value" use="required"/>
	</xs:complexType>
	<xs:element name="data_item" type="n1:data_item"/>
	<xs:complexType name="lds_ord">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element ref="n1:daterange"/>
				<xs:element ref="n1:datespan"/>
				<xs:element ref="n1:dateval"/>
				<xs:element ref="n1:datestr"/>
			</xs:choice>
			<xs:element ref="n1:temple" minOccurs="0"/>
			<xs:element ref="n1:place" minOccurs="0"/>
			<xs:element ref="n1:status" minOccurs="0"/>
			<xs:element ref="n1:sealed_to" minOccurs="0"/>
			<xs:element ref="n1:noteref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="n1:citationref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="priv">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="type" use="required"/>
	</xs:complexType>
	<xs:element name="lds_ord" type="n1:lds_ord"/>
	<xs:complexType name="temple">
		<xs:attribute name="val" use="required"/>
	</xs:complexType>
	<xs:element name="temple" type="n1:temple"/>
	<xs:complexType name="status">
		<xs:attribute name="val" use="required"/>
	</xs:complexType>
	<xs:element name="status" type="n1:status"/>
	<xs:complexType name="sealed_to">
		<xs:attribute name="hlink" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="sealed_to" type="n1:sealed_to"/>
</xs:schema>